<div class="card mb-4" id="dashboard">
                    <div class="card-body">
                        <h2 class="card-title">Dashboard Principal</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card bg-light mb-3">
                                    <div class="card-header">Resumen General</div>
                                    <div class="card-body">
                                        <p>Total de Estudiantes: <span id="rutasActivas"><%=data.length%></span></p>
                                        <p>Estudiates que ya comieron: <span id="vehiculosOperacion"><%=procesados%></span></p>
                                        <p>Estudiantes sin comer:<span id="usuariosTotal"><%=noProcesados%></span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card bg-light mb-3">
                                    <div class="card-header">Carreras Frecuentes</div>
                                    <div class="card-body">
                        
                                        <p>Informatica: <span id="puntualidad">23</span></p>

                                        <p>Medicina: <span id="ocupacionVehiculos">56</span></p>
                                        <p>Odontologia: <span id="distanciaRecorrida">33</span></p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card bg-light mb-3">
                                    <div class="card-header">Horario</div>
                                    <div class="card-body">
                                        <p>Hora de desayuno:<span id="incidentes">08:00AM</span></p>
                                        <p>Hora de almuerzo:<span id="retrasos">01:00PM</span></p>
                                        <p>Hora de cena:<span id="mantenimiento">06:00PM</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>