<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <link rel="icon" href="/cara2/assets/images/author-image.avif" type="image/x-icon">
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link
  href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
  rel="stylesheet"
  />

  <title>Sistema Comedor</title>
<!--
Reflux Template
https://templatemo.com/tm-531-reflux
  -->
  <!-- Bootstrap core CSS -->
  <link href="/cara2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  
  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="/cara2/assets/css/fontawesome.css" />
  <link rel="stylesheet" href="/cara2/assets/css/templatemo-style.css" />
  <link rel="stylesheet" href="/cara2/assets/css/owl.css" />
  <link rel="stylesheet" href="/cara2/assets/css/lightbox.css" />
  <link rel="stylesheet" href="/cara2/assets/css/responsive.css">
  <script src='/cara2/assets/js/alertConfig.js'></script>
</head>

<body>
  <div id="page-wraper">
    <!-- Sidebar Menu -->
    <div class="responsive-nav">
      <i class="fa fa-bars" id="menu-toggle"></i>
      <div id="menu" class="menu">
        <i class="fa fa-times" id="menu-close"></i>
        <div class="container">
          <div class="image">
            <a href="#"><img class="lazy" data-src="/icon/menu.png" alt="" /></a>
          </div>
          <div class="author-content">
            <h4>COMEDOR</h4>
            <span>SISTEMA WEB</span>
          </div>
          <nav class="main-nav" role="navigation">
            <ul class="main-menu">
              <li><a href="#section1">Inicio</a></li>
              <li><a href="#section2">Valores</a></li>
              <li><a href="#section3">Menú Variado</a></li>
              <li><a href="#section4">Comedor</a></li>
            </ul>
          </nav>
          <div class="social-network">
            <ul class="soial-icons">
              <li>
                <a href=""
                ><i class="fa fa-facebook"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-dribbble"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-rss"></i></a>
              </li>
            </ul>
          </div>
          <div class="copyright-text">
            <p>Copyright 2025 derechos reservados comedor</p>
          </div>
        </div>
      </div>
    </div>

    <section class="section about-me" data-section="section1">
      <div class="container">
        <div class="section-heading">
          <h2 class="sobreNosotros">Principal</h2>
          <div class="line-dec"></div>
          <span
          > Sistema de comedor universitario, promoviendo la educación en los niveles mas optimos y aceptables dentro del marco de la calidad estudiantil.</span
          >
        </div>
        <div class="left-image-post">
          <div class="row">
            <div class="col-md-6">
              <div class="left-image">
                <img class="lazy" data-src="/icon/img-01.jpg" alt="" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="right-text">
                <h4>Iniciar Sesion</h4>
                <p>
                  Inicia Sesion en nuestro sistema integral socila en bienestar de nuestra comunidad estudiantil y como tambien nuestros profesores que le dan vida a la universidad con el conocimiento aprendido.

                </p>
                <div class="white-button">
                  <a href="/login">Login/Registro</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-image-post">
          <div class="row">
            <div class="col-md-6">
              <div class="left-text">
                <h4>Importancia</h4>
                <p>
                 La alimentación juega un papel crucial en el rendimiento académico y el bienestar general de los estudiantes. En el Comedor Universitario, nos comprometemos a ofrecer alimentos que no solo sean deliciosos, sino que también proporcionen los nutrientes necesarios para mantener la energía y la concentración durante el día.
               </p>
               <div class="white-button">
                <a href="#">Ver más</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img class="lazy" data-src="/icon/co.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section my-services" data-section="section2">
    <div class="container">
      <div class="section-heading">
        <h2>Valores</h2>
        <div class="line-dec"></div>
        <span
        >Los valores son esenciales para preservar la pulcritud y armonia dentro de la comunidad estudiantil.
        </span
        >
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="service-item">
            <div class="first-service-icon service-icon"></div>
            <h4>Salud y Bienestar:</h4>
            <p>
              Promover una alimentación saludable y balanceada es esencial. El comedor debe ofrecer opciones nutritivas que contribuyan al bienestar físico y mental de los estudiantes y el personal.

           </p>
         </div>
       </div>
       <div class="col-md-6">
        <div class="service-item">
          <div class="second-service-icon service-icon"></div>
          <h4>Sostenibilidad:</h4>
          <p>
            Fomentar prácticas sostenibles en la selección de alimentos, la reducción de desperdicios y el uso de productos locales y de temporada. Esto no solo beneficia al medio ambiente, sino que también apoya a la economía local.

          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="service-item">
          <div class="third-service-icon service-icon"></div>
          <h4>Inclusividad:</h4>
          <p>
           Asegurar que el comedor sea un espacio accesible para todos, ofreciendo opciones que consideren diversas necesidades dietéticas, como vegetarianas, veganas, sin gluten, y otras restricciones alimentarias.

         </p>
       </div>
     </div>
     <div class="col-md-6">
      <div class="service-item">
        <div class="fourth-service-icon service-icon"></div>
        <h4>Comunidad:</h4>
        <p>
          Fomentar un sentido de comunidad y pertenencia entre los estudiantes y el personal. El comedor puede ser un lugar de encuentro donde se promuevan interacciones sociales y el fortalecimiento de lazos.
        </p>
      </div>
    </div>
  </div>
</div>
</section>

<section class="section my-work" data-section="section3">
  <div class="container">

    <div class="section-heading">
      <h2>Menú Variado:</h2>
      <div class="line-dec"></div>

      <p>Ofrecemos opciones de desayuno, almuerzo y cena, con platos que incluyen opciones vegetarianas, veganas y sin gluten. Cada semana, nuestro menú se actualiza para incluir ingredientes frescos y de temporada.
    </p>

    <section class="texto">

      <div>
        <p>
          Registro y Acceso: Los estudiantes y el personal pueden registrarse fácilmente en nuestro sistema en línea, lo que les permite realizar pedidos anticipados y evitar largas filas.
        </p>
      </div>

      <div>
        <p>Consulta Nutricional: Contamos con la asesoría de nutricionistas que están disponibles para ayudar a los usuarios a hacer elecciones alimentarias informadas y saludables.
        </p>
      </div>

      <div>
        <h2>Eventos Especiales: </h2>

        <p>Organizamos eventos temáticos y talleres de cocina para promover la educación sobre la alimentación saludable y la sostenibilidad.
        </p>

      </div>


    </section>

  </div>

  <div class="row">
    <div class="isotope-wrapper">
      <form class="isotope-toolbar">
        <label
        ><input
        type="radio"
        data-type="*"
        checked=""
        name="isotope-filter"
        />
        <span>Todo</span></label
        >
        <label
        ><input
        type="radio"
        data-type="people"
        name="isotope-filter"
        />
        <span>Filtro 1</span></label
        >
        <label
        ><input
        type="radio"
        data-type="nature"
        name="isotope-filter"
        />
        <span>Filtro 2</span></label
        >
        <label
        ><input
        type="radio"
        data-type="animals"
        name="isotope-filter"
        />
        <span>Filtro 3</span></label
        >
      </form>
      <div class="isotope-box">
        <div class="isotope-item" data-type="nature">
          <figure class="snip1321">
            <img
            src="/icon/uu.jfif"
            alt="sq-sample26"
            />
            <figcaption>
              <a
              href="/icon/uu.jfif"
              data-lightbox="image-1"
              data-title="Caption"
              ><i class="fa fa-search"></i
              ></a>
              <h4>Desayuno</h4>
              <span>Comedor integral Social.</span>
            </figcaption>
          </figure>
        </div>

        <div class="isotope-item" data-type="people">
          <figure class="snip1321">
            <img
            src="/icon/ii.jfif"
            alt="sq-sample26"
            />
            <figcaption>
              <a
              href="/icon/ii.jfif"
              data-lightbox="image-1"
              data-title="Caption"
              ><i class="fa fa-search"></i
              ></a>
              <h4>Almuerzo</h4>
              <span>Comedor Integral Social.</span>
            </figcaption>
          </figure>
        </div>

        <div class="isotope-item" data-type="animals">
          <figure class="snip1321">
            <img
            src="/icon/hh.jpg"
            alt="sq-sample26"
            />
            <figcaption>
              <a
              href="/icon/hh.jpg"
              data-lightbox="image-1"
              data-title="Caption"
              ><i class="fa fa-search"></i
              ></a>
              <h4>Cena</h4>
              <span>Comedor Integral</span>
            </figcaption>
          </figure>
        </div>

        <div class="isotope-item" data-type="people">
          <figure class="snip1321">
            <img
            src="/icon/oo.jfif"
            alt="sq-sample26"
            />
            <figcaption>
              <a
              href="/icon/oo.jfif"
              data-lightbox="image-1"
              data-title="Caption"
              ><i class="fa fa-search"></i
              ></a>
              <h4>Comunidad universitaria</h4>
              <span>universidad de cultura</span>
            </figcaption>
          </figure>
        </div>

        <div class="isotope-item" data-type="nature">
          <figure class="snip1321">
            <img
            src="/icon/vv.jpg"
            alt="sq-sample26"
            />
            <figcaption>
              <a
              href="/icon/vv.jpg"
              data-lightbox="image-1"
              data-title="Caption"
              ><i class="fa fa-search"></i
              ></a>
              <h4>Menu Variado</h4>
              <span>Comida de calidad y exelencia</span>
            </figcaption>
          </figure>
        </div>

        <div class="isotope-item" data-type="animals">
          <figure class="snip1321">
            <img
            src="/icon/hhk.jpg"
            alt="sq-sample26"
            />
            <figcaption>
              <a
              href="/icon/hhk.jpg"
              data-lightbox="image-1"
              data-title="Caption"
              ><i class="fa fa-search"></i
              ></a>
              <h4>Comidas especiales</h4>
              <span>Gran selección</span>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section class="section contact-me" data-section="section4">
  <div class="container">

    <div class="section-heading">
      <h2 class="tipoEmpresa">Comedor Integral Social.</h2>
      <div class="line-dec"></div>
      <p>
      Habilitado 24/07 para toda la comunidad estudiantil y obrera de nmuestra grandisima uniervidad nacional experimental Romulo Gallegos.
      </p>

      


<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src='/cara2/assets/js/lazyLoading.js'></script>
<script src="/cara2/vendor/jquery/jquery.min.js"></script>
<script src="/cara2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/cara2/assets/js/isotope.min.js"></script>
<script src="/cara2/assets/js/owl-carousel.js"></script>
<script src="/cara2/assets/js/lightbox.js"></script>
<script src="/cara2/assets/js/custom.js"></script>
<script src='/cara2/assets/js/formContacto.js'></script>
<script>
      //according to loftblog tut
  $(".main-menu li:first").addClass("active");

  var showSection = function showSection(section, isAnimate) {
    var direction = section.replace(/#/, ""),
    reqSection = $(".section").filter(
      '[data-section="' + direction + '"]'
      ),
    reqSectionPos = reqSection.offset().top - 0;

    if (isAnimate) {
      $("body, html").animate(
      {
        scrollTop: reqSectionPos
      },
      800
      );
    } else {
      $("body, html").scrollTop(reqSectionPos);
    }
  };

  var checkSection = function checkSection() {
    $(".section").each(function() {
      var $this = $(this),
      topEdge = $this.offset().top - 80,
      bottomEdge = topEdge + $this.height(),
      wScroll = $(window).scrollTop();
      if (topEdge < wScroll && bottomEdge > wScroll) {
        var currentId = $this.data("section"),
        reqLink = $("a").filter("[href*=\\#" + currentId + "]");
        reqLink
        .closest("li")
        .addClass("active")
        .siblings()
        .removeClass("active");
      }
    });
  };

  $(".main-menu").on("click", "a", function(e) {
    e.preventDefault();
    showSection($(this).attr("href"), true);
  });

  $(window).scroll(function() {
    checkSection();
  });
</script>
</body>
</html>
